
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Outfit:wght@100;200;300&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Outfit:wght@100;200;300&display=swap');
.title{
  font-size: 35px;
  font-family: 'Caprasimo', cursive;
}
.board-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 80px 0;
}

.module-wrap {
  display: grid;
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  font-family: 'Caprasimo', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d3d6da;
  width: 50px;
  height: 50px;
}

.alert {
  font-size: 20px;
  display: none;
  position: absolute;
  background-color: black;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -10%);
  border-radius: 10px;
  border: 3px solid salmon;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 100px;
  color: wheat;
  line-height: 100px;
}

.timer{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 70px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  background-color: black;
  color: greenyellow;
}

.correct-animation {
  animation: correct 1s;
}

@keyframes correct {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}